/*淘宝官网 样式初始化*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
	margin:0;
	padding:0;
}
body, button, input, select, textarea {
	font:12px/1.5tahoma, arial, \5b8b\4f53;
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
}
address, cite, dfn, em, var {
	font-style:normal;
}
code, kbd, pre, samp {
	font-family:couriernew, courier, monospace;
}
small {
	font-size:12px;
}
ul, ol {
	list-style:none;
}
a {
	text-decoration:none;
}
a:hover {
	text-decoration:none;
}
sup {
	vertical-align:text-top;
}
sub {
	vertical-align:text-bottom;
}
legend {
	color:#000;
}
fieldset, img {
	border:0;
}
button, input, select, textarea {
	font-size:100%;
}
table {
	border-collapse:collapse;
	border-spacing:0;
} 
/*edit-top css*/
body {
	background-color: #4C4E59;
	font: 12px/1 "Helvetica Neue","Segoe UI",Tahoma,Arial,"Hiragino Sans GB",STHeiti,"Microsoft Yahei","WenQuanYi Micro Hei",sans-serif;
}
.edit-top {
	position: fixed;
	width: 100%;
	height: 44px;
	background-color: #373941;
	top: 0px;
	left: 0px;
	color: #FFF;
	padding-left: 10px;
    z-index: 2;

}
.edit-top-logo {
	/*color: #000;*/
	font-size: 20px;
	float: left;
	line-height: 44px;
}
.edit-top-nav {
	height: 100%;
	float: left;
	display: flex;
	line-height: 44px;
	margin-left: 20px;
}
.edit-top-nav .nav-bt {
	margin-left: 20px;
	cursor: pointer;
}
.edit-top-nav .nav-bt:hover {
	color: #abc7df;
}
.edit-top-return {
	position: absolute;
	height: 100%;
	line-height: 44px;
	right: 80px;
}
.edit-top-return a {
	color: #FFF;
}
.edit-top-return a:hover {
	color: #abc7df;
}

/*edit-main-container html文件*/
.edit-dc-container {
	margin: 0;
	padding: 0;

}
.edit-dc-title {
	/* color: #373941; */
    color: #f0f0f0;
    display: block;
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    margin: 60px auto -68px;
    overflow: hidden;
    padding: 0;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
    /* margin-top: 100px; */
}
.edit-dc-area {
    transition:margin-left 1s;
}
.edit-dc-area .edit-dc-charts {
	background-color: #ffffff;
    display: block;
    min-height: 600px;
    margin: 84px auto 50px;
    width: 550px;
    position: relative;
    padding: 35px;
    border-radius: 4px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6), 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 -1px 0 rgba(0, 0, 0, 0.2) inset;
}



.cpt-chtedt{
    color: #f0f0f0;
    background:#373941 none repeat scroll 0 0;
    width: 660px;
    height: 2000px;
    position: fixed;
    top: 47px;
    margin: 10px 0 0 0;
    opacity: 0;
    z-index: -1; 
    transition:opacity 1s;
   /* opacity: 10;
    z-index: 2;*/

}
.cpt-chtedt .dtm-close-btn{
    top: 10px;
    right: 20px;
    position: absolute;
    z-index: 1;
}

.cpt-chtedt .dtm-tabh{
    height: 100%;
    position: relative;
}
.cpt-chtedt .dtm-tabh-h {
    margin-left: 50px;
    position: relative;
}
.cpt-chtedt .dtm-tabh-hi {
    background: #373941 none repeat scroll 0 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
    float: left;
    height: 44px;
    line-height: 44px;
    margin: 0 5px;
    padding: 0 14px;
    position: relative;
    text-align: center;
}
.cpt-chtedt .dtm-tabh-hi:hover, .cpt-chtedt .dtm-tabh-hi.active{
    color: #abc7df;
}
ol, ul {
    list-style: outside none none;
}
.cpt-chtedt .dtm-tabh-coni {
    top:44px;
    position: absolute;
}

.dtm-btn {
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    background: #3498db;
    text-align: center;
    font-size: 14px;
    min-width: 60px;
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
}

.dtm-handsontable {
    background: #fff none repeat scroll 0 0;
    bottom: 10px;
    color: #333;
    font-family: Verdana,Helvetica,Arial,FreeSans,sans-serif;
    font-size: 12px;
    left: 0px;
    overflow: visible;
    position: absolute;
    right: 10px;
    top: 0px;
}
.charts-edit-area{
    position: relative;
}
.charts-edit-area .charts-edit-area-main{
    position: relative;
}
.charts-tools-content{
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 0 12px;
    position: relative;
    white-space: nowrap;
}
.charts-content{
    height: 300px;
    /*min-height: 500px;*/
    overflow: hidden;
    position: relative;
    margin-top: 20px;

    /*width: 500px;*/
}
.charts-tools-main{
    /*
    z-index: 5;*/
    left: 0;
    opacity: 1;
    padding: 20px 20px 0 14px;
    transition: visibility 0s ease-in-out 0.15s, opacity 0.15s ease-in-out 0s;
    top: -52px;
    position: absolute;
    display: none;

}
.charts-tools-content{
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 0 12px;
    position: relative;
    white-space: nowrap;
}

.charts-tools-content .ctc-btn{

    -moz-user-select: none;
    color: #f0f0f0;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    height: 32px;
    line-height: 32px;
    padding: 0 6px;
    text-align: center;
}

.charts-tools-content .dt-drag{
    cursor: move;
}

.charts-edit-area-main:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset,0 0 8px rgba(0,0,0,0.6);
}